@model IEnumerable<Tower.ViewModels.TestView>


@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.morder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pchoice)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ID)
        </th>*@
    
    <th>
            @Html.DisplayNameFor(model => model.Cert_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax_yr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Face_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month_12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month_23)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month_30)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month_36)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Today)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.county)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.nuser)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.morder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pchoice)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.nuser)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Cert_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax_yr)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Face_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month_6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month_12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month_23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month_30)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month_36)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Today)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.county)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.nuser)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
