
@model IEnumerable<Tower.ViewModels.NJReportView>

<p style="padding-top:25px">

</p>
<h3>
    @Model.FirstOrDefault().Township  -  @Model.FirstOrDefault().IssuedDate.ToString().AsDateTime().ToShortDateString()
</h3>
<p style="padding-top:5px">

</p>
<div id="wrapper">
    <table class="table ">
        <thead>
            <tr class="">

                @*<th>
                        @Html.DisplayNameFor(model => model.APN)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Township)
                    </th>*@

                <th>
                    Cert
                    @*@Html.DisplayNameFor(model => model.CertificateNumber)*@
                </th>
                <th>
                    Amount
                    @*@Html.DisplayNameFor(model => model.SaleAmount)*@
                </th>
                <th>
                    Lien Holder
                    @*@Html.DisplayNameFor(model => model.LienHolder)*@
                </th>


                <th>
                    Sale Year
                    @*@Html.DisplayNameFor(model => model.YearInSale)*@
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.chg_typ1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.chg_typ2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.chg_typ3)
                </th>
                @*@if (@Model.FirstOrDefault().chg_typ4 != null)
                {
                    <th>
                        chg_typ4

                    </th>
                }
                 @if (@Model.FirstOrDefault().chg_typ5 != null)
                {
                    <th>
                        chg_typ5

                    </th>
                }*@
                <th>
                    @Html.DisplayNameFor(model => model.chg_typ4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.chg_typ5)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subsequent)
                </th>
                @if (@Model.FirstOrDefault().UPDSubs10 != null)
                {
                    <th>
                        Subs 10-15

                    </th>
                }

                @if (@Model.FirstOrDefault().UPDSubs11 != null)
                {

                    <th>
                        Subs 11-15

                    </th>

                }
                @if (@Model.FirstOrDefault().UPDSubs12 != null)
                {

                    <th>
                        Subs 12-15

                    </th>
                }
                @if (@Model.FirstOrDefault().UPDSubs0116 != null)
                {

                    <th>
                        Subs 01-16

                    </th>
                }
                @if (@Model.FirstOrDefault().UPDSubs0216 != null)
                {

                    <th>
                        Subs 02-16

                    </th>
                }
                @if (@Model.FirstOrDefault().UPDSubs0316 != null)
                {

                    <th>
                        Subs 03-16

                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.estRdmDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaidYN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IssuedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WEB)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.APN)
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Township)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CertificateNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LienHolder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YearInSale)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.chg_typ1)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.chg_typ2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.chg_typ3)
                    </td>

                    @*@if (@Model.FirstOrDefault().chg_typ4 != null)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.chg_typ4)
                        </td>
                    }
                    @if (@Model.FirstOrDefault().chg_typ5 != null)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.chg_typ5)
                        </td>
                    }*@

                    <td>
                        @Html.DisplayFor(modelItem => item.chg_typ4)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.chg_typ5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subsequent)
                    </td>
                    @if (@Model.FirstOrDefault().UPDSubs10 != null)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.UPDSubs10)
                        </td>
                    }
                    @if (@Model.FirstOrDefault().UPDSubs11 != null)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.UPDSubs11)
                        </td>
                    }
                    @if (@Model.FirstOrDefault().UPDSubs12 != null)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.UPDSubs12)
                        </td>

                    }
                    @if (@Model.FirstOrDefault().UPDSubs0116 != null)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.UPDSubs0116)
                        </td>

                    }
                    @if (@Model.FirstOrDefault().UPDSubs0216 != null)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.UPDSubs0216)
                        </td>

                    }
                    @if (@Model.FirstOrDefault().UPDSubs0316 != null)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.UPDSubs0316)
                        </td>

                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.estRdmDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidYN)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssuedDate)
                    </td>
                    <td>
                        <a target="_blank" href="@Html.DisplayFor(modelItem => item.WEB)"> @Html.DisplayFor(modelItem => item.WEB)</a>
                    </td>

                </tr>
            </tbody>
        }
            
    </table>
</div>