@model Tower.Models.contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CID)
        </dd>

        <dt>
            First Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactFirstName)
            @Html.ActionLink(Model.ContactFirstName, "Edit", new { id = Model.CNTYID }) |
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactLastName)
        </dd>



        <dt>
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Ext:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ext)
        </dd>
        <dt>
            Cell Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cellphone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.faxnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faxnumber)
        </dd>
        <dt>
            Email Address
        </dt>

        <dd>
            <a href="mailto:@Html.DisplayFor(model => model.EmailAddress)">@Html.DisplayFor(model => model.EmailAddress)</a>
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CNTYID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
