@model Tower.Models.customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateOrProvince)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateOrProvince)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.faxnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faxnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clerkUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clerkUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.countyUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.countyUrl)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
