@model Tower.Models.customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab">County</a></li>
    <li role="presentation"><a href="#profile" role="tab" data-toggle="tab">Contacts</a></li>
    @*<li role="presentation"><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>*@
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

        <div>
            <h4>County Detail</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    County:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CountyName)
                </dd>

                <dt>
                    First Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactFirstName)
                </dd>

                <dt>
                    Last Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContactLastName)
                </dd>

                <dt>
                    Address:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BillingAddress)
                </dd>

                <dt>
                    City:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.City)
                </dd>

                <dt>
                    State:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StateOrProvince)
                </dd>

                <dt>
                    Zip:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>


                <dt>
                    Phone:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt>
                    Ext::
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ext)
                </dd>
                <dt>
                    Cell Phone:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.cellphone)
                </dd>
                <dt>
                    Fax:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.faxnumber)
                </dd>



                <dt>
                    Email:
                </dt>

                <dd>
                    <a href="mailto:@Html.DisplayFor(model => model.EmailAddress)">@Html.DisplayFor(model => model.EmailAddress)</a>
                </dd>

                <dt>
                    Data URL:
                </dt>

                <dd>
                    <a target="_blank" href="@Html.DisplayFor(model => model.dataUrl)">@Html.DisplayFor(model => model.dataUrl)</a>
                </dd>


                <dt>
                    Notes:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.notes)
                </dd>



                <dt>
                    County Website:
                </dt>

                <dd>
                    <a target="_blank" href="@Html.DisplayFor(model => model.countyUrl)">@Html.DisplayFor(model => model.countyUrl)</a>
                </dd>
                <dt>
                    County Clerk:
                </dt>

                <dd>
                    <a target="_blank" href="@Html.DisplayFor(model => model.clerkUrl)">@Html.DisplayFor(model => model.clerkUrl)</a>
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">

        @{Html.RenderAction("Index", "contacts", new { id = Model.CID });}
    </div>
    @*<div role="tabpanel" class="tab-pane" id="messages">3...</div>,Model.FirstOrDefault().CID)
        <div role="tabpanel" class="tab-pane" id="settings">4...</div>*@
</div>