@*@model IEnumerable<SLConsole.Models.customer>*@
@model PagedList.IPagedList<Tower.Models.customer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>County List</h2>


<p>
    @Html.ActionLink("Add County", "Create")
</p>
@using (Html.BeginForm("Index", "county", FormMethod.Get))
{
    @Html.HiddenFor(model => model.FirstOrDefault().CID)
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("County", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })

        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>

        <th>
            Phone Number
        </th>
        <th>
            Email Address
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.CountyName, "Details", new { id = item.CID })

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactLastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a href="mailto:@Html.DisplayFor(modelItem => item.EmailAddress)">@Html.DisplayFor(modelItem => item.EmailAddress)</a>
            </td>

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.CID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.CID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.CID })
                </td>*@
        </tr>
    }

</table>
<br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

        <a href="~/percentCalcs/Status">County Status Update List</a>

